<div class="row">
    <div class="col-xs-12 col-sm-6 col-md-6">
        <div class="well well-sm">
            <div class="row">
                <div class="col-sm-6 col-md-4">
                    <img src="http://placehold.it/380x500" alt="" class="img-rounded img-responsive"/>
                </div>
                <div class="col-sm-6 col-md-8">
                    <h4>{{vm.user.name}}</h4>
                    <small>
                        {{vm.user.username}}
                    </small>
                    <p><i class="glyphicon glyphicon-envelope"></i>{{vm.user.email}}</p>
                    <p>
                        <a href="logout" type="button" class="btn btn-default btn-sm">
                            <span class="glyphicon glyphicon-log-out"></span> Log out
                        </a>
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>